In [1]:
import os
import numpy as np
import pandas as pd

## ResNet-50 + PSA

In [2]:
file_real_set_1 = "/home/abhishek/Desktop/RUG/ai_master_thesis/clearGraspPlus/eval_depth_completion/results_resnet50_psa/exp-012/computed_errors.csv"
file_real_set_2 = "/home/abhishek/Desktop/RUG/ai_master_thesis/clearGraspPlus/eval_depth_completion/results_resnet50_psa/exp-017/computed_errors.csv"

In [3]:
df_set_1 = pd.read_csv(file_real_set_1)

In [4]:
df_set_2 = pd.read_csv(file_real_set_2)

In [5]:
df_set_1[:-1]

,Image_Num,RMSE,REL,MAE,Delta_1.25,Delta_1.25^2,Delta_1.25^3
0,0,0.02144,0.04173,0.01973,61.75115,100.00000,100.00000
1,1,0.02163,0.03319,0.01731,76.47849,97.31183,100.00000
2,2,0.02956,0.05281,0.02427,56.02504,77.15180,100.00000
3,3,0.01505,0.01874,0.01119,98.34559,99.26471,100.00000
4,4,0.02214,0.02477,0.01514,93.06184,95.47511,100.00000
...,...,...,...,...,...,...,...
85,85,0.07988,0.17560,0.07222,6.44914,25.64299,76.69865
86,86,0.03439,0.07416,0.03101,30.17911,78.54005,100.00000
87,87,0.02124,0.03342,0.01587,75.07706,97.26992,100.00000
88,88,0.02715,0.05755,0.02220,50.09134,83.19328,99.96346
89,89,0.02526,0.04488,0.02097,59.35511,94.10267,100.00000

In [6]:
df_combined = pd.concat([df_set_1[:-1], df_set_2[:-1]])

In [7]:
df_combined

,Image_Num,RMSE,REL,MAE,Delta_1.25,Delta_1.25^2,Delta_1.25^3
0,0,0.02144,0.04173,0.01973,61.75115,100.00000,100.00000
1,1,0.02163,0.03319,0.01731,76.47849,97.31183,100.00000
2,2,0.02956,0.05281,0.02427,56.02504,77.15180,100.00000
3,3,0.01505,0.01874,0.01119,98.34559,99.26471,100.00000
4,4,0.02214,0.02477,0.01514,93.06184,95.47511,100.00000
...,...,...,...,...,...,...,...
18,18,0.03784,0.05143,0.02572,59.59520,84.70765,98.65068
19,19,0.03060,0.04580,0.02507,54.52163,94.49542,100.00000
20,20,0.02294,0.02789,0.01668,78.10078,99.61240,100.00000
21,21,0.00965,0.01597,0.00737,98.96907,99.22680,100.00000
22,22,0.01514,0.02261,0.01192,88.95349,100.00000,100.00000

In [8]:
df_combined.mean()

Image_Num       1.092538e+202
RMSE             2.814584e-02
REL              4.425000e-02
MAE              2.276372e-02
Delta_1.25       6.890333e+01
Delta_1.25^2     9.056567e+01
Delta_1.25^3     9.919551e+01
dtype: float64

In [9]:
print(df_combined.mean())

Image_Num       1.092538e+202
RMSE             2.814584e-02
REL              4.425000e-02
MAE              2.276372e-02
Delta_1.25       6.890333e+01
Delta_1.25^2     9.056567e+01
Delta_1.25^3     9.919551e+01
dtype: float64

In [11]:
2.814584e-02, 4.425000e-02, 2.276372e-02, 6.890333e+01, 9.056567e+01, 9.919551e+01

(0.02814584, 0.04425, 0.02276372, 68.90333, 90.56567, 99.19551)

## DRN

In [12]:
file_real_set_1 = "/home/abhishek/Desktop/RUG/ai_master_thesis/clearGraspPlus/eval_depth_completion/results_drn//exp-001/computed_errors.csv"
file_real_set_2 = "/home/abhishek/Desktop/RUG/ai_master_thesis/clearGraspPlus/eval_depth_completion/results_drn//exp-003/computed_errors.csv"

In [13]:
df_set_1 = pd.read_csv(file_real_set_1)

In [14]:
df_set_2 = pd.read_csv(file_real_set_2)

In [15]:
df_set_1[:-1]

,Image_Num,RMSE,REL,MAE,Delta_1.25,Delta_1.25^2,Delta_1.25^3
0,0,0.02901,0.05663,0.02668,46.31336,96.31336,100.00000
1,1,0.02608,0.04429,0.02318,64.78494,98.38710,100.00000
2,2,0.02849,0.05283,0.02577,50.46948,97.49609,100.00000
3,3,0.01819,0.02203,0.01355,96.13971,98.89706,100.00000
4,4,0.02847,0.03655,0.02224,78.73303,94.87180,100.00000
...,...,...,...,...,...,...,...
85,85,0.08183,0.18005,0.07518,5.22073,19.11708,74.16507
86,86,0.03095,0.06751,0.02855,30.14532,83.94728,100.00000
87,87,0.02779,0.04845,0.02311,61.07442,89.34390,100.00000
88,88,0.04024,0.09039,0.03547,26.96383,57.87358,100.00000
89,89,0.02680,0.05061,0.02322,49.42724,93.80568,100.00000

In [16]:
df_combined = pd.concat([df_set_1[:-1], df_set_2[:-1]])

In [17]:
df_combined

,Image_Num,RMSE,REL,MAE,Delta_1.25,Delta_1.25^2,Delta_1.25^3
0,0,0.02901,0.05663,0.02668,46.31336,96.31336,100.00000
1,1,0.02608,0.04429,0.02318,64.78494,98.38710,100.00000
2,2,0.02849,0.05283,0.02577,50.46948,97.49609,100.00000
3,3,0.01819,0.02203,0.01355,96.13971,98.89706,100.00000
4,4,0.02847,0.03655,0.02224,78.73303,94.87180,100.00000
...,...,...,...,...,...,...,...
18,18,0.02971,0.04958,0.02325,58.47076,87.33134,99.77511
19,19,0.02455,0.03860,0.02190,74.04980,98.95151,100.00000
20,20,0.01733,0.02566,0.01442,95.54263,99.61240,100.00000
21,21,0.01237,0.02268,0.01033,98.19587,99.74227,100.00000
22,22,0.03395,0.05900,0.03135,42.05426,93.21706,100.00000

In [18]:
df_combined.mean()

Image_Num       1.092538e+202
RMSE             3.097487e-02
REL              5.143522e-02
MAE              2.657018e-02
Delta_1.25       5.891225e+01
Delta_1.25^2     8.816209e+01
Delta_1.25^3     9.941225e+01
dtype: float64

In [19]:
print(df_combined.mean())

Image_Num       1.092538e+202
RMSE             3.097487e-02
REL              5.143522e-02
MAE              2.657018e-02
Delta_1.25       5.891225e+01
Delta_1.25^2     8.816209e+01
Delta_1.25^3     9.941225e+01
dtype: float64

In [20]:
3.097487e-02, 5.143522e-02, 2.657018e-02, 5.891225e+01, 8.816209e+01, 9.941225e+01

(0.03097487, 0.05143522, 0.02657018, 58.91225, 88.16209, 99.41225)